<nz-space class="w-100" [nzSize]="42" nzDirection="vertical">
  <nz-space *nzSpaceItem class="w-100" [nzSize]="12" nzDirection="vertical">
    <!-- HEADER -->
    <div
      nz-row
      class="w-100 bg-color-primary-transparent customed-header"
      *nzSpaceItem
    >
      <div nz-col [nzFlex]="columna.nzFlex" *ngFor="let columna of columnas">
        <div nz-row [nzJustify]="columna.nzAlign">
          <p nz-typography class="fw-600">{{ columna.nombre }}</p>
        </div>
      </div>
    </div>

    <!-- BODY -->

    <nz-space *nzSpaceItem nzDirection="vertical" [nzSize]="12" class="w-100">
      <ng-container
        *ngIf="
          paginacionResponse;
          then mostrarContenidoPagos;
          else cargandoContenidoPagos
        "
      >
      </ng-container>

      <ng-template #cargandoContenidoPagos>
        <div
          class="d-flex justify-center align-item-center"
          style="padding: 80px"
        >
          <nz-spin nzSimple></nz-spin>
        </div>
      </ng-template>
      <ng-template #mostrarContenidoPagos>
        <ng-container
          *ngIf="
            paginacionResponse.totalData;
            then dataCargada;
            else dataNoCargada
          "
        >
        </ng-container>
        <ng-template #dataNoCargada>
          <nz-empty
            style="padding-top: 48px"
            nzNotFoundImage="assets/logo/emptyData.svg"
            [nzNotFoundContent]="contendioEmpty"
          ></nz-empty>
          <ng-template #contendioEmpty>
            <div
              nz-row
              [nzGutter]="4"
              nzJustify="center"
              style="padding-top: 20px"
            >
              <div nz-col>
                <p nz-typography class="fs-15">No se encontraron</p>
              </div>
              <div nz-col>
                <p nz-typography class="color-primary-6 fs-15">comprobantes</p>
              </div>
            </div>
          </ng-template>
        </ng-template>

        <ng-template #dataCargada>
          <ng-container *ngFor="let contenido of paginacionResponse?.data">
            <nz-card
              *nzSpaceItem
              class="customed-cards"
              [ngClass]="{
                'bg-color-gold-1': contenido.tieneNotaCredito === true
              }"
            >
              <div nz-row nzAlign="middle">
                <div nz-col nzFlex="150px">
                  <div nz-row nzJustify="center">
                    <nz-space nzDirection="vertical">
                      <span
                        *nzSpaceItem
                        nz-icon
                        nzType="file-text"
                        nzTheme="outline"
                        class="w-100 fs-24"
                        [ngClass]="{
                          'color-register':
                            contenido.estadoNombre === 'REGISTRADO',
                          'color-success':
                            contenido.estadoNombre === 'ACEPTADO' ||
                            'ACEPTADO CON OBS',
                          'color-warning':
                            contenido.estadoNombre === 'PROCESANDO',
                          'color-danger': contenido.estadoNombre === 'RECHAZADO'
                        }"
                      ></span>
                      <div *nzSpaceItem class="code-bg bg-color-primary-1">
                        <p nz-typography>
                          {{ contenido.serie }}-{{ contenido.numero }}
                        </p>
                      </div>
                    </nz-space>
                  </div>
                </div>

                <div nz-col nzFlex="268px" style="padding-left: 36px">
                  <nz-space nzDirection="vertical">
                    <div *nzSpaceItem>
                      <p
                        nz-typography
                        class="fw-500 limit-characteres"
                        style="max-width: 198px"
                        nz-tooltip
                        nzTooltipPlacement="top"
                        nzTooltipTitle="{{
                          contenido.cliente.length > 35 ? contenido.cliente : ''
                        }}"
                      >
                        {{ contenido.cliente }}
                      </p>
                      <p nz-typography nzType="secondary">
                        <!-- {{ contenido.numero }}:
                        {{ contenido.clienteNumeroDocumento }} -->
                      </p>
                    </div>
                  </nz-space>
                </div>

                <div nz-col nzFlex="180px" style="padding-left: 8px">
                  <div nz-row nzJustify="center">
                    <nz-space
                      nzDirection="vertical"
                      class="w-100"
                      style="text-align: center"
                      nzAlign="center"
                    >
                      <nz-tag
                        nzColor="default"
                        class="tag-padding fw-500"
                        style="width: 65%"
                      >
                        {{ contenido.tipoComprobanteNombre }}
                      </nz-tag>
                    </nz-space>
                  </div>
                </div>

                <div nz-col nzFlex="250px">
                  <div nz-row nzJustify="center">
                    <nz-space nzDirection="vertical">
                      <div *nzSpaceItem>
                        <p nz-typography nzType="secondary">
                          Fecha de emisión:
                        </p>
                        <p nz-typography>
                          {{ contenido.fechaEmision | date : "dd/MM/yyyy" }}
                        </p>
                      </div>
                    </nz-space>
                  </div>
                </div>

                <div nz-col nzFlex="156px" style="padding-right: 42px">
                  <div nz-row nzJustify="end">
                    <nz-space nzDirection="vertical">
                      <h5 nz-typography class="color-primary-8">
                        S/
                        {{ contenido.importeTotal | number : "1.2-2" }}
                      </h5>
                    </nz-space>
                  </div>
                </div>

                <div nz-col nzFlex="156px">
                  <div nz-row nzJustify="center">
                    <nz-space nzDirection="vertical">
                      <p
                        nz-typography
                        class="fw-500"
                        nzCopyable
                        [nzCopyTooltips]="[
                          'Copiar serie y número de NC',
                          copedIcon
                        ]"
                        [nzCopyText]="contenido.serie + '-' + contenido.numero"
                        *ngIf="contenido.tieneNotaCredito"
                      >
                        SI PRESENTA
                      </p>
                      <p
                        nz-typography
                        class="fw-500"
                        *ngIf="!contenido.tieneNotaCredito"
                      >
                        NO PRESENTA
                      </p>
                      <ng-template #copedIcon> Código copiado </ng-template>
                    </nz-space>
                  </div>
                </div>

                <div nz-col nzFlex="80px" style="padding-left: 26px">
                  <div nz-row nzJustify="center">
                    <nz-space nzDirection="vertical">
                      <nz-tag
                        nzColor="default"
                        [ngClass]="{
                          'color-danger bg-color-danger-8 bd-color-danger-40':
                            contenido.estadoNombre === 'RECHAZADO',
                          'color-success bg-color-success-8 bd-color-success-40':
                            contenido.estadoNombre === 'ACEPTADO' ||
                            contenido.estadoNombre === 'ACEPTADO CON OBS',
                          'color-warning bg-color-warning-8 bd-color-warning-40':
                            contenido.estadoNombre === 'PROCESANDO',
                          'color-register bg-color-register-8 bd-color-register-40':
                            contenido.estadoNombre === 'REGISTRADO'
                        }"
                        class="tag-border tag-padding fw-500"
                      >
                        {{ contenido.estadoNombre }}
                      </nz-tag>
                    </nz-space>
                  </div>
                </div>

                <div nz-col nzFlex="180px" style="padding-left: 28px">
                  <div nz-row nzJustify="center">
                    <nz-space [nzSize]="8" class="comprobantes-button">
                      <div *nzSpaceItem nz-col nzFlex="auto">
                        <button
                          nz-button
                          (click)="mostrarModalFilePdf(contenido.publicKey)"
                          nzType="primary"
                        >
                          <span nz-icon nzType="eye" nzTheme="outline"></span>
                        </button>
                      </div>

                      <div *nzSpaceItem nz-col nzFlex="auto">
                        <button
                          nz-button
                          (click)="descargarComprobantePDF(contenido.publicKey)"
                          style="padding-top: 6px"
                        >
                          <span nz-icon nzType="download"></span>
                        </button>
                      </div>

                      <div *nzSpaceItem nz-col nzFlex="auto">
                        <button
                          nz-button
                          (click)="showMailModal()"
                          style="padding-top: 6px"
                        >
                          <span nz-icon nzType="mail" nzTheme="outline"></span>
                        </button>
                      </div>
                    </nz-space>
                  </div>
                </div>
              </div>
            </nz-card>
          </ng-container>
        </ng-template>
      </ng-template>
    </nz-space>
  </nz-space>
  <ng-container *ngIf="paginacionResponse">
    <div nz-row nzJustify="center" *nzSpaceItem>
      <ng-container *ngTemplateOutlet="paginacion"></ng-container>
    </div>
  </ng-container>
</nz-space>

<!-- PAGINACIÓN -->
<ng-template #paginacion>
  <nz-pagination
    [nzPageIndex]="paginacionResponse.page"
    [nzTotal]="paginacionResponse.totalData"
    [nzShowTotal]="total"
    [nzPageSize]="paginacionResponse.itemsPerPage"
    nzShowSizeChanger
    (nzPageIndexChange)="nzPageIndexChange($event)"
    class="text-center"
  >
  </nz-pagination>

  <ng-template #total let-range="range" let-total>
    <span nz-typography
      >{{ range[0] }}-{{ range[1] }} de
      {{ paginacionResponse.totalData }} comprobante(s)</span
    >
  </ng-template>
</ng-template>

<modal-comprobante-pdf
  [isModalVisible]="mostrarModalPdf"
  [cerrarModal]="cerrarModalPdf"
  [id]="idPrimaryKey"
>
</modal-comprobante-pdf>

<modal-correo
  [isModalMailVisible]="isModalMailVisible"
  [closeMailModal]="closeMailModal"
>
</modal-correo>
