// PRIMARY COLORS
.bg-color-primary-1 {
  background-color: var(--color-primary-1);
}
.bg-color-primary-2 {
  background-color: var(--color-primary-2) !important;
}
.bg-color-primary-3 {
  background-color: var(--color-primary-3);
}
.bg-color-primary-4 {
  background-color: var(--color-primary-4);
}
.bg-color-primary-5 {
  background-color: var(--color-primary-5);
}
.bg-color-primary-6 {
  background-color: var(--color-primary-6);
}
.bg-color-primary-7 {
  background-color: var(--color-primary-7);
}
.bg-color-primary-8 {
  background-color: var(--color-primary-8);
}
.bg-color-primary-9 {
  background-color: var(--color-primary-9);
}
.bg-color-primary-10 {
  background-color: var(--color-primary-10);
}

//NEUTRAL COLORS
.bg-color-neutral-1 {
  background-color: var(--color-neutral-1);
}
.bg-color-neutral-2 {
  background-color: var(--color-neutral-2);
}
.bg-color-neutral-3 {
  background-color: var(--color-neutral-3);
}
.bg-color-neutral-4 {
  background-color: var(--color-neutral-4);
}
.bg-color-neutral-5 {
  background-color: var(--color-neutral-5);
}
.bg-color-neutral-6 {
  background-color: var(--color-neutral-6);
}
.bg-color-neutral-7 {
  background-color: var(--color-neutral-7);
}
.bg-color-neutral-8 {
  background-color: var(--color-neutral-8);
}
.bg-color-neutral-9 {
  background-color: var(--color-neutral-9);
}
.bg-color-neutral-10 {
  background-color: var(--color-neutral-10);
}
.bg-color-neutral-11 {
  background-color: var(--color-neutral-11);
}
.bg-color-neutral-12 {
  background-color: var(--color-neutral-12);
}
.bg-color-neutral-13 {
  background-color: var(--color-neutral-13);
}

// SEMANTIC COLORS
.bg-color-success {
  background-color: var(--color-success);
}
.bg-color-warning {
  background-color: var(--color-warning);
}
.bg-color-danger {
  background-color: var(--color-danger);
}
.bd-color-register {
  background-color: var(--color-register);
}

.bg-color-success-40 {
  background-color: var(--color-success-40);
}
.bg-color-warning-40 {
  background-color: var(--color-warning-40);
}
.bg-color-danger-40 {
  background-color: var(--color-danger-40);
}
.bg-color-register-40 {
  background-color: var(--color-register-40);
}

.bg-color-success-8 {
  background-color: var(--color-success-8);
}
.bg-color-warning-8 {
  background-color: var(--color-warning-8);
}
.bg-color-danger-8 {
  background-color: var(--color-danger-8);
}
.bg-color-register-8 {
  background-color: var(--color-register-8);
}

// OTHER COLORS
.bg-color-primary-transparent {
  background-color: var(--color-primary-transparent) !important;
}

.bg-color-white-1 {
  background-color: var(--color-white-1);
}

.bg-color-blue-1 {
  background-color: var(--color-blue-1);
}

.bg-color-gold-1 {
  background-color: var(--color-gold-1);
}
