// PRIMARY COLORS
.bd-color-primary-1 {
  border-color: var(--color-primary-1) !important;
}
.bd-color-primary-2 {
  border-color: var(--color-primary-2) !important;
}
.bd-color-primary-3 {
  border-color: var(--color-primary-3);
}
.bd-color-primary-4 {
  border-color: var(--color-primary-4);
}
.bd-color-primary-5 {
  border-color: var(--color-primary-5);
}
.bd-color-primary-6 {
  border-color: var(--color-primary-6);
}
.bd-color-primary-7 {
  border-color: var(--color-primary-7);
}
.bd-color-primary-8 {
  border-color: var(--color-primary-8);
}
.bd-color-primary-9 {
  border-color: var(--color-primary-9);
}
.bd-color-primary-10 {
  border-color: var(--color-primary-10);
}

//NEUTRAL COLORS
.bd-color-neutral-1 {
  border-color: var(--color-neutral-1);
}
.bd-color-neutral-2 {
  border-color: var(--color-neutral-2);
}
.bd-color-neutral-3 {
  border-color: var(--color-neutral-3);
}
.bd-color-neutral-4 {
  border-color: var(--color-neutral-4);
}
.bd-color-neutral-5 {
  border-color: var(--color-neutral-5);
}
.bd-color-neutral-6 {
  border-color: var(--color-neutral-6);
}
.bd-color-neutral-7 {
  border-color: var(--color-neutral-7);
}
.bd-color-neutral-8 {
  border-color: var(--color-neutral-8);
}
.bd-color-neutral-9 {
  border-color: var(--color-neutral-9);
}
.bd-color-neutral-10 {
  border-color: var(--color-neutral-10);
}
.bd-color-neutral-11 {
  border-color: var(--color-neutral-11);
}
.bd-color-neutral-12 {
  border-color: var(--color-neutral-12);
}
.bd-color-neutral-13 {
  border-color: var(--color-neutral-13);
}

// SEMANTIC COLORS
.bd-color-success {
  border-color: var(--color-success);
}
.bd-color-warning {
  border-color: var(--color-warning);
}
.bd-color-danger {
  border-color: var(--color-danger);
}
.bd-color-register {
  border-color: var(--color-register);
}

.bd-color-success-40 {
  border-color: var(--color-success-40) !important;
}
.bd-color-warning-40 {
  border-color: var(--color-warning-40) !important;
}
.bd-color-danger-40 {
  border-color: var(--color-danger-40) !important;
}
.bd-color-register-40 {
  border-color: var(--color-register-40) !important;
}

.bd-color-success-8 {
  border-color: var(--color-success-8);
}
.bd-color-warning-8 {
  border-color: var(--color-warning-8);
}
.bd-color-danger-8 {
  border-color: var(--color-danger-8);
}
.bd-color-register-8 {
  border-color: var(--color-register-8);
}

// OTHER COLORS
.bd-color-primary-transparent {
  border-color: var(--color-primary-transparent) !important;
}
