// PRIMARY COLORS
.color-primary-1 {
  color: var(--color-primary-1);
}
.color-primary-2 {
  color: var(--color-primary-2);
}
.color-primary-3 {
  color: var(--color-primary-3);
}
.color-primary-4 {
  color: var(--color-primary-4) !important;
}
.color-primary-5 {
  color: var(--color-primary-5);
}
.color-primary-6 {
  color: var(--color-primary-6) !important;
}
.color-primary-7 {
  color: var(--color-primary-7);
}
.color-primary-8 {
  color: var(--color-primary-8) !important;
}
.color-primary-9 {
  color: var(--color-primary-9);
}
.color-primary-10 {
  color: var(--color-primary-10);
}

//NEUTRAL COLORS
.color-neutral-1 {
  color: var(--color-neutral-1);
}
.color-neutral-2 {
  color: var(--color-neutral-2);
}
.color-neutral-3 {
  color: var(--color-neutral-3);
}
.color-neutral-4 {
  color: var(--color-neutral-4);
}
.color-neutral-5 {
  color: var(--color-neutral-5);
}
.color-neutral-6 {
  color: var(--color-neutral-6);
}
.color-neutral-7 {
  color: var(--color-neutral-7);
}
.color-neutral-8 {
  color: var(--color-neutral-8);
}
.color-neutral-9 {
  color: var(--color-neutral-9);
}
.color-neutral-10 {
  color: var(--color-neutral-10);
}
.color-neutral-11 {
  color: var(--color-neutral-11);
}
.color-neutral-12 {
  color: var(--color-neutral-12);
}
.color-neutral-13 {
  color: var(--color-neutral-13);
}

// SEMANTIC COLORS
.color-success {
  color: var(--color-success);
}
.color-warning {
  color: var(--color-warning);
}
.color-danger {
  color: var(--color-danger);
}
.color-register {
  color: var(--color-register);
}

.color-success-40 {
  color: var(--color-success-40);
}
.color-warning-40 {
  color: var(--color-warning-40);
}
.color-danger-40 {
  color: var(--color-danger-40);
}

.color-register-40 {
  color: var(--color-register-40);
}

.color-success-8 {
  color: var(--color-success-8);
}
.color-warning-8 {
  color: var(--color-warning-8);
}
.color-danger-8 {
  color: var(--color-danger-8);
}
.color-register-8 {
  color: var(--color-register-8);
}

// CHARACTER COLORS
.color-character-primary-85 {
  color: var(--color-character-primary-85);
}

.color-character-primary-45 {
  color: var(--color-character-primary-45) !important;
}

// OTHER COLORS
.color-primary-transparent {
  color: var(--color-primary-transparent);
}

.color-blue-1 {
  color: var(--color-blue-1);
}

.color-polar-green {
  color: var(--color-polar-green);
}

.color-secondary {
  color: var(--color-secondary) !important;
}
