// PRIMARY COLORS
$color-primary-1: #edebf8;
$color-primary-2: #c8c4eb;
$color-primary-3: #a49cdd;
$color-primary-4: #8074cf;
$color-primary-5: #5b4dc2;
$color-primary-6: #4939bb; //MAIN
$color-primary-7: #3a2e96;
$color-primary-8: #2c2270;
$color-primary-9: #1d174b;
$color-primary-10: #0f0b25;

// NEUTRAL COLORS
$color-neutral-1: #ffffff;
$color-neutral-2: #fafafa;
$color-neutral-3: #f5f5f5;
$color-neutral-4: #f0f0f0;
$color-neutral-5: #d9d9d9;
$color-neutral-6: #bfbfbf;
$color-neutral-7: #8c8c8c;
$color-neutral-8: #595959;
$color-neutral-9: #434343;
$color-neutral-10: #262626;
$color-neutral-11: #1f1f1f;
$color-neutral-12: #141414;
$color-neutral-13: #000000;

// SEMANTIC COLORS
$color-success: #52c41a;
$color-warning: #faad14;
$color-danger: #ff4d4f;
$color-register: #1462fa;

$color-success-40: rgba(82, 196, 26, 0.4);
$color-warning-40: rgba(250, 173, 20, 0.4);
$color-danger-40: rgba(255, 77, 79, 0.4);
$color-register-40: rgba(20, 98, 250, 0.4);

$color-success-8: rgba(82, 196, 26, 0.08);
$color-warning-8: rgba(250, 173, 20, 0.08);
$color-danger-8: rgba(255, 77, 79, 0.08);
$color-register-8: rgba(20, 98, 250, 0.08);

// CHARACTER COLORS
$color-character-primary-85: rgba(0, 0, 0, 0.85);
$color-character-primary-45: rgba(0, 0, 0, 0.45);

// OTHER COLORS
$color-primary-transparent: rgba(73, 57, 187, 0.08);
$color-white-1: rgba(255, 255, 255, 0.8);
$color-blue-1: #f0f5ff;
$color-gold-1: #fffbf3;
$color-polar-green: #52c41a;
$color-secondary: rgba(0, 0, 0, 0.45);
